* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
            scroll-behavior: smooth;
        }

        body {
            background: #0f0f0f;
            color: white;
            line-height: 1.6;
        }

        header {
            background: #151515;
            padding: 20px 8%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: sticky;
            top: 0;
            z-index: 1000;
        }

        .logo {
            font-size: 24px;
            font-weight: bold;
            color: #f5f0f0;
        }

        .logo span {
            color: rgb(215, 28, 221);
        }

        nav a {
            color: white;
            text-decoration: none;
            margin-left: 25px;
            transition: 0.3s;
        }

        nav a:hover {
            color: rgb(215, 28, 221)
        }

        section {
            padding: 80px 8%;
            min-height: 70vh;
        }

        /* Home */
        .hero {
            min-height: 90vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
            padding-left: 8%;
        }

        .hero h1 {
            font-size: 55px;
            margin-bottom: 10px;
        }

        .hero h1 span {
            color: rgb(215, 28, 221);;
        }

        .hero p {
            font-size: 20px;
            color: #bbb;
            margin-bottom: 25px;
        }

        #typing-text {
    font-weight: bold;
}

.cursor {
    display: inline-block;
    margin-left: 3px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }

    51%, 100% {
        opacity: 0;
    }
}

        .btn {
            display: inline-block;
            padding: 12px 25px;
            background: rgb(215, 28, 221);
            color: white;
            text-decoration: none;
            border-radius: 6px;
            transition: 0.3s;
            margin: 20px;
        }

        .btn:hover {
            background: rgb(144, 19, 148);
        }

        /* Section Title */
        .section-title {
            text-align: center;
            font-size: 35px;
            margin-bottom: 40px;
        }

        /* About */
        .about {
            max-width: 800px;
            margin: auto;
            text-align: center;
            color: #ccc;
        }

        /* Skills */
        .skills {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
        }

        .skill {
            background: #1c1c1c;
            padding: 15px 25px;
            border-radius: 8px;
            border: 1px solid #333;
        }

        /* Projects */
        .projects {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 25px;
        }

        .project {
            background: #1c1c1c;
            padding: 25px;
            border-radius: 10px;
            border: 1px solid #333;
        }

        .project h3 {
            color: #ff3333;
            margin-bottom: 10px;
        }

        .project p {
            color: #bbb;
        }

        .project-link,
.project-link:hover,
.project-link:visited,
.project-link:active {
    text-decoration: none;
    color: inherit;
}

        /* Contact */
        .contact {
            text-align: center;
        }

        .contact p {
            margin: 10px 0;
            color: #ccc;
        }

        /* Footer */
        footer {
            background: #151515;
            text-align: center;
            padding: 20px;
            color: #888;
        }

        /* Mobile */
        @media (max-width: 700px) {

            header {
                flex-direction: column;
                gap: 15px;
            }

            nav a {
                margin: 0 8px;
            }

            .hero h1 {
                font-size: 40px;
            }
        }